@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark: #000000;
    --white: #ffffff;
}
.hero {
    background-image: url(../images/bgi3.png);
    background-position: center;
    position: relative;
}
.hero-wrapper {
    backdrop-filter: blur(6px);
}
.heading {
    color: var(--white);
    font-size: clamp(16px, 10vw, 5rem);
    font-family: Poppins, sans-serif, system-ui, -apple-system;
    text-align: center;
    letter-spacing: 2px;
}
.hero-meta {
    margin: 0 20vw;
}
.hero-meta {
    font-family: courgette, sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    font-size: .9rem;
    text-align: center;
    color: var(--white);
}
.first {
    font-weight: bold;
}
.meta-link {
    color: aqua;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: none;
}
.meta-link:hover {
    text-decoration: underline;
}
.meta-link:visited {
    color: purple;
}