@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --dark: #000000;
    --gray: #999999;
    --hero: #4800ffd4;
    --white: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
}
p {
    font-family: Poppins, Sans Serif;
}
.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--dark);
    border: none;
    border-radius: 10px;
    padding: .2rem .2rem;
    z-index: 1;
}
.devs {
    background-color: var(--dark);
}
#devs {
    scroll-margin-top: 50px;
    text-align: center;
    color: white;
    padding: .5rem;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: clamp(2.5rem, 10vw, 5rem);
}
ul {
    list-style: none;
}
.dev-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    column-gap: .5rem;
    row-gap: .7rem;
    padding: .5rem .6rem;
}
.card {
    background-color: #0c0c0c;
    padding: .5rem .5rem;
    border: none;
    border-radius: 20px;
    color: var(--white);
    transition: transform .6s;
    box-shadow: 0px 0px 6px -1px rgb(255, 255, 255);
}
.card:hover {
    transform: scale(1.03);
}
.dev {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
.dev:hover {
    text-decoration: underline;
}
.dev-img {
    float: left;
    height: 70px;
    width: auto;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    margin: .5rem .5rem;
}
.dev-des {
    font-family: Poppins, sans-serif;
    margin-top: 1rem;
    letter-spacing: 2px;
    opacity: .7;
}
.dev1, .dev3 {
    grid-row: span 2;
}
.dev5, .dev6, .dev4, .dev2 {
    grid-column: span 2;
}
@media(max-width:1200px) {
  .dev-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .dev5, .dev6, .dev4, .dev2 {
    grid-column: span 1;
}
.dev1, .dev3 {
    grid-row: span 1;
}
}
@media(max-width:500px) {
    .dev-cards {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
.info {
    text-align: center;
    margin: .5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.d-links {
    padding: 1rem .4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.you-link {
    position: relative;
}
.you-link:hover::before {
    position: absolute;
    bottom: -30px;
    left: -10px;
    content: 'Youtube';
    color: white;
    text-decoration: none;
    background-color: red;
    padding: .2rem .2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transform: translateY(-1px);
}
.webs-link {
    position: relative;
    transition: transform .4s;
}
.webs-link:hover::before {
    position: absolute;
    bottom: -30px;
    left: -10px;
    content: 'Website';
    color: white;
    text-decoration: none;
    background-color: rgb(27, 107, 153);
    padding: .2rem .2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: transform .4s;
}
.github-link {
    position: relative;
}
.github-link:hover::before {
    position: absolute;
    bottom: -30px;
    left: -10px;
    content: 'Github';
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: .2rem .2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.x-link {
    position: relative;
}
.x-link:hover::before {
    position: absolute;
    bottom: -30px;
    left: -10px;
    content: 'Twitter';
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: .2rem .2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.link-link {
    position: relative;
}
.link-link:hover::before {
    position: absolute;
    bottom: -30px;
    left: -10px;
    content: 'LinkedIn';
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(34, 0, 255);
    padding: .2rem .2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: transform .4s;
}
.fa-linkedin {
    color: rgb(66, 66, 180);
    font-size: 1.5rem;
}
.fa-square-github, .fa-square-x-twitter {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.fa-globe {
    color: deepskyblue;
    font-size: 1.5rem;
}
.fa-youtube {
    color: rgb(253, 81, 81);
    font-size: 1.5rem;
}
.fa-youtube:hover {
    transform: scale(1.2);
    transition-duration: .6s;
}
.w-icon {
    margin-top: 1px;
}
.fa-solid:hover {
    transform: scale(1.2);
    transition-duration: .6s;
}
.fa-brands:hover {
    transform: scale(1.2);
    transition-duration: .6s;
}
.projects {
    background: linear-gradient(to left, black, dimgray);
    padding: .5rem .5rem;
}
#projects {
    text-align: center;
    padding: .5rem;
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    scroll-margin-top: 50px;
    color: white;
}

.hr2 {
    margin-left: 10%;
    margin-right: 10%;
}
.hr3 {
    margin-left: 13%;
    margin-right: 13%;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1rem;
    padding: .5rem .5rem;
    overflow: hidden;
}
.p-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(47, 47, 47);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(14, 13, 13);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.53);
    transition: transform .5s;
}
.p-card:hover {
    transform: scale(1.06);
    cursor: pointer;
}
.last {
    display: none;
}
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-top: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
}

@media(max-width:1000px) {
    .project-cards {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    .last {
        display: flex;
    }
}
@media(max-width:650px) {
    .project-cards {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media(max-width:630px) {
    .project-cards {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}
.p-des {
    text-align: center;
}
.c-head {
    text-align: center;
    color: #ffff;
    padding: .4rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.p-des {
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    opacity: .7;
    color: #ffff;
}
.p-link {
    color: #000;
    text-decoration: none;
    background-color: white;
    opacity: .7;
    margin: .6rem;
    padding: .5rem .4rem;
    font-weight: bold;
    font-size: .9rem;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: row;
}
.p-link:hover {
    opacity: 1;
    color: var(--white);
}
.p-link:hover::after {
    content: url(../images/right.svg);
    padding: 0;
    width: 10px;
    height: 4px;
}
.p-link::before {
    content: '';
    background-color: rgb(32, 32, 33);
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .4s;
    z-index: -1;
}
.p-link:hover::before {
    content: '';
    transform: scaleX(1);
}
.testimonials {
    background: linear-gradient(to right, black, dimgray);
    padding: 0 .5rem .5rem .5rem;
}
#test {
    font-size: clamp(2.5rem, 10vw, 5rem);
    text-align: center;
    font-weight: bold;
    scroll-margin-top: 2.3rem;
    color: white;
    opacity: .9;
}
.t-card {
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 50px;
    margin-top: 5rem;
    padding: .6rem;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    transition: transform .4s;
    position: relative;
}
.t-card:hover {
    transform: translateY(-5px);
}
.t-last1, .t-last2 {
    display: none;
}
.test-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: .5rem;
    margin-top: 1rem;
}
.name {
    font-size: 1.3rem;
    transform: translateY(-5rem);
    opacity: .7;
    letter-spacing: 1px;
    font-family: Segoe UI, Sans serif;
}
.job {
    transform: translateY(-4.8rem);
}
.test-text {
    text-align: center;
    transform: translateY(-3rem);
}
.t-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    float: right;
    transform: translateY(-5rem);
}
.fa-quote-left {
    position: absolute;
    color: var(--dark);
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    opacity: .5;
    pointer-events: none;
}
@media(max-width:1000px) {
    .test-cards {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    .t-last1 {
        display: flex;
    }
}
@media(max-width:840px) {
    .test-cards {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    .t-last2 {
        display: flex;
    }
}
@media(max-width:600px) {
    .fa-quote-left {
        font-size: 2rem;
    }
}
@media(max-width:530px) {
    .test-cards {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
    .fa-quote-left {
        font-size: 3rem;
    }
}
@media(max-width:315px) {
    .fa-quote-left {
        font-size: 2rem;
    }
}